In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
stocks=pd.read_csv("../base/stocksV2.csv", sep=';',parse_dates=['date'], dayfirst=True)
stocks['date'] = pd.to_datetime(stocks['date'], format='%d/%m/%Y')

In [3]:
stocks.head()

        date id_produit entrepot  niveau_stock
0 2024-06-01     P00001     Lyon            88
1 2024-04-22     P00001    Paris           141
2 2024-09-25     P00002     Lyon           286
3 2024-02-18     P00003    Paris           177
4 2024-07-13     P00003     Lyon            95

In [4]:
stocks.shape,stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1706 entries, 0 to 1705
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          1706 non-null   datetime64[ns]
 1   id_produit    1706 non-null   object
 2   entrepot      1706 non-null   object
 3   niveau_stock  1706 non-null   int64
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 53.4+ KB

((1706, 4), None)

In [5]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1706 entries, 0 to 1705
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          1706 non-null   datetime64[ns]
 1   id_produit    1706 non-null   object
 2   entrepot      1706 non-null   object
 3   niveau_stock  1706 non-null   int64
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 53.4+ KB

In [6]:
stocks.isnull().sum()

date            0
id_produit      0
entrepot        0
niveau_stock    0
dtype: int64

In [7]:
# Check for duplicates
duplicates = stocks.duplicated()
print("Number of duplicates:", duplicates.sum())

Number of duplicates: 0

In [9]:
# Check for unique values in 'id_produit'
stocks["entrepot"].unique()

array(['Lyon', 'Paris', 'Marseille'], dtype=object)

**Interprétation :**
- la table **stocks** contient:
    *  4 variables: *date, id_produit, entrepôt,niveau_stock*
    * 30000 observations
- Aucune donnée manquante dans la table.
- **1000** produits différents dans la table.
- **3** entrepôts qui se trouvent à Paris, Lyon et Marseille.

In [ ]:
stocks.head()

        date id_produit   entrepôt  niveau_stock
0 2024-08-28     P00569       Lyon             7
1 2024-01-28     P00492       Lyon           268
2 2024-05-09     P00263       Lyon           268
3 2024-04-11     P00381  Marseille           154
4 2024-09-10     P00053  Marseille            37