In [1]:
import pandas as pd

In [2]:
stocks=pd.read_csv("../base/stocks.csv", sep=';',parse_dates=['date'])

In [3]:
stocks.head()

        date id_produit   entrepôt  niveau_stock
0 2024-08-28     P00569       Lyon             7
1 2024-01-28     P00492       Lyon           268
2 2024-05-09     P00263       Lyon           268
3 2024-04-11     P00381  Marseille           154
4 2024-09-10     P00053  Marseille            37

In [4]:
stocks.shape

(3000, 4)

In [5]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          3000 non-null   datetime64[ns]
 1   id_produit    3000 non-null   object
 2   entrepôt      3000 non-null   object
 3   niveau_stock  3000 non-null   int64
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 93.9+ KB

In [6]:
stocks.isnull().sum()

date            0
id_produit      0
entrepôt        0
niveau_stock    0
dtype: int64

In [7]:
# Check for duplicates
duplicates = stocks.duplicated()
print("Number of duplicates:", duplicates.sum())

Number of duplicates: 0

In [8]:
#type conversion
stocks['date'] = pd.to_datetime(stocks['date'], format='%Y-%m-%d')
stocks['id_produit'] = stocks['id_produit'].astype('str')
stocks['entrepôt'] = stocks['entrepôt'].astype('str')

In [9]:
# Check for unique values in 'id_produit'
stocks["entrepôt"].unique()

array(['Lyon', 'Marseille', 'Paris'], dtype=object)

**Interprétation :**
- la table **stocks** contient:
    *  4 variables: *date, id_produit, entrepôt,niveau_stock*
    * 30000 observations
- Aucune donnée manquante dans la table.
- **1000** produits différents dans la table.
- **3** entrepôts qui se trouvent à Paris, Lyon et Marseille.

In [10]:
stocks.head()

        date id_produit   entrepôt  niveau_stock
0 2024-08-28     P00569       Lyon             7
1 2024-01-28     P00492       Lyon           268
2 2024-05-09     P00263       Lyon           268
3 2024-04-11     P00381  Marseille           154
4 2024-09-10     P00053  Marseille            37