In [ ]:
import pandas as pd

# Load the retours.csv file
retours = pd.read_csv("../base/retoursV2.csv", sep=';',encoding='latin1', parse_dates=['date_retour'])

C:\Users\Djo\AppData\Local\Temp\ipykernel_4588\1451491952.py:4: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  retours = pd.read_csv("../base/retours.csv", sep=';',encoding='latin1', parse_dates=['date_retour'])

In [8]:

# Basic exploration of retours
print("Retours Data:")
retours.head()

Retours Data:

,id_commande,id_produit,quantité,entrepôt,date_retour,motif
0,O043330,P00360,2,Paris,2024-06-26,Mauvais article
1,O031373,P00739,4,Marseille,2024-09-01,Endommagé
2,O028206,P00144,8,Marseille,2024-04-20,Le client a changé d'avis
3,O004999,P00765,5,Lyon,2024-12-29,Pas comme décrit
4,O019607,P00127,2,Lyon,2024-07-05,Endommagé

In [9]:
print("\nShape:", retours.shape)

Shape: (2987, 6)

In [10]:
print("\nInfo:")
retours.info()

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2987 entries, 0 to 2986
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id_commande  2987 non-null   object
 1   id_produit   2987 non-null   object
 2   quantité     2987 non-null   int64
 3   entrepôt     2987 non-null   object
 4   date_retour  2987 non-null   datetime64[ns]
 5   motif        2987 non-null   object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 140.1+ KB