In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
sns.set()

In [3]:
data=pd.read_csv("prod_commandes_expeditions_retours_stocks.csv")

In [4]:
data.head()

,id_commande,date_commande,id_produit,quantité_x,entrepôt_x,statut,id_expedition,quantité_y,entrepôt_y,date_expedition,...,mois_x,date_retour,motif,mois_y,catégorie,marque,prix,stock_minimum,niveau_stock,entrepot
0,O000001,2024-09-03,P00413,2,Marseille,Livré,SHP000001,2.0,MARSEILLE,2024-09-09,...,2024-09,NaN,NaN,NaN,Accessoires,Essentielle Paris,151.34,50,89,Paris
1,O000002,2024-11-09,P00778,15,Lyon,Expédié,SHP000002,15.0,LYON,2024-11-16,...,2024-11,NaN,NaN,NaN,Accessoires,Silhouette Paris,434.14,91,142,Lyon
2,O000004,2024-11-03,P00535,8,Lyon,Livré,SHP000003,8.0,LYON,2024-11-06,...,2024-11,NaN,NaN,NaN,Maquillage,Soin Absolu,286.57,66,20,Paris
3,O000006,2024-01-24,P00898,3,Paris,Livré,SHP000004,3.0,PARIS,2024-01-26,...,2024-01,NaN,NaN,NaN,Soins de la peau,Velours Naturel,90.26,56,149,Lyon
4,O000007,2024-02-15,P00445,1,Lyon,Livré,SHP000005,1.0,LYON,2024-02-18,...,2024-02,NaN,NaN,NaN,Accessoires,Elixir Haute Beauté,436.94,21,281,Marseille

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42458 entries, 0 to 42457
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_commande      42458 non-null  object
 1   date_commande    42458 non-null  object
 2   id_produit       42458 non-null  object
 3   quantité_x       42458 non-null  int64
 4   entrepôt_x       42458 non-null  object
 5   statut           42458 non-null  object
 6   id_expedition    42458 non-null  object
 7   quantité_y       42458 non-null  float64
 8   entrepôt_y       42458 non-null  object
 9   date_expedition  42458 non-null  object
 10  date_livraison   42458 non-null  object
 11  transporteur     42458 non-null  object
 12  coût_transport   42458 non-null  float64
 13  délai_livraison  42458 non-null  float64
 14  coût_normalisé   42458 non-null  float64
 15  mois_x           42458 non-null  object
 16  date_retour      2987 non-null   object
 17  motif            2987 non-null   object
 18  mois_y           2987 non-null   object
 19  catégorie        42458 non-null  object
 20  marque           42458 non-null  object
 21  prix             42458 non-null  float64
 22  stock_minimum    42458 non-null  int64
 23  niveau_stock     42458 non-null  int64
 24  entrepot         42458 non-null  object
dtypes: float64(5), int64(3), object(17)
memory usage: 8.1+ MB

In [7]:
data.isnull().sum()

id_commande            0
date_commande          0
id_produit             0
quantité_x             0
entrepôt_x             0
statut                 0
id_expedition          0
quantité_y             0
entrepôt_y             0
date_expedition        0
date_livraison         0
transporteur           0
coût_transport         0
délai_livraison        0
coût_normalisé         0
mois_x                 0
date_retour        39471
motif              39471
mois_y             39471
catégorie              0
marque                 0
prix                   0
stock_minimum          0
niveau_stock           0
entrepot               0
dtype: int64